@import 'Global';

/* .QuestionOption {
    width: 44%;
    margin: 1rem;
    border-radius: $bor-radius;
    padding: 1rem;
    background: color(secondary);
    color: #fff;
}
.QuestionOption:hover {
    background: #000;
    cursor: pointer;
} */
